body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
  background-color: white;
}

.app__outer {
  min-height: calc(100vh - 56px); /* do not consider header height */
}

.app__container {
  max-width: 1200px;
  min-height: 100%;
  width: 100%;
}

.pointer {
  cursor: pointer;
}
